[submodule "moonlight-common/moonlight-common-c"]
	path = moonlight-common/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "X1Kit"]
	path = X1Kit
	url = https://github.com/cgutman/X1Kit.git
[submodule "ThirdParty/alvr-visionos"]
	path = ThirdParty/alvr-visionos
	url = https://github.com/alvr-org/alvr-visionos.git
